<!DOCTYPE html>
<!--
File Name:  contact.ejs
Author:     Amell Ortiz
Date:       10-07-2023
Student ID: 301274861
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/My_logo.png" height="150" width="150" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Contact Me</h1>

        <div class="contact-info">
            <p>Email: ortiz.amell@gmail.com</p>
            <p>Contact Number: +1 647 928 2987</p>
        </div>

        <form action="/submit" method="post">
            <label for="fname">Full name:</label>
            <input type="text" id="fullname" name="fullname">

            <label for="contact">Phone Number:</label>
            <input type="text" id="contact" name="contact">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email">

            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea>

            <input type="submit" value="Submit">
            <script>
                document.querySelector('form').addEventListener('submit', function (event) {
                    event.preventDefault();
                    window.location.href = '/';
                });
            </script>
        </form>
    </div>
    <footer>
        <p>© Copyright Amell Ortiz - 301274861 - COMP229_Fall 23</p>
    </footer>
</body>

</html>