<!DOCTYPE html>
<!--
File Name:  about.ejs
Author:     Amell Ortiz
Date:       10-07-2023
Student ID: 301274861
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/public/images/My_logo.png" height="100" width="100" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome to My Portfolio:</h1>
        <p>I'm very glad that you are here.</p>
        <p>In this portal, I showcase some of my previous projects, which I take great pride in as I've put a lot of
            effort into completing them. This is also your portal, so feel free to explore it and learn more about me
            and my projects.</p>
        <p>Regardless of the reason for your presence here, I hope you can find projects that pique your interest.
            If you have any inquiries, please do not hesitate to contact me; I am here to assist you.</p>
        <p>I greatly appreciate you taking the time to visit my portfolio. I hope it has been to your liking!"</p>
        <p>If you would like to learn more about me and my projects, please click on the links below.:</p>
        <ul>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </div>
    <footer>
        <p>© Copyright Amell Ortiz - 301274861 - COMP229_Fall 23</p>
    </footer>
</body>

</html>