<!DOCTYPE html>
<!--
File Name:  about.ejs
Author:     Amell Ortiz
Date:       10-07-2023
Student ID: 301274861
-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/public/images/My_logo.png" height="100" width="100" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>My Projects</h1>

        <div class="project">
            <a href="/public/images/project1.png" target="_blank">
                <img src="/public/images/project1.png" alt="Project 1: Amell Calculator">
            </a>
            <h2>Project 1: Calculator</h2>
            <p>Developer<br><br>
                Centennial College - Programming 2<br><br>
                I developed this project during my second semester of studies. It involved creating a basic
                calculator that could switch to a scientific calculator by enabling or disabling specific buttons.
                In addition to performing calculations, it allowed users to change the calculator's color.
                The project also featured a tab called 'About me,' where more information about me could be found.
                It was a challenging project, but completing it brought me a great deal of happiness.</p>
        </div>

        <div class="project">
            <a href="/public/images/project2.png" target="_blank">
                <img src="/public/images/project2.png" alt="Project 2: Healthy">
            </a>
            <h2>Project 2: Sports equal to health</h2>
            <p>Web Interface Design<br><br>
                First semester 2023 <br><br>
                "This was one of my early projects in Web Interface Design. I was motivated to create it with a
                focus on sports and exercise because I remember during the pandemic, I decided to buy a bicycle
                to exercise and improve my diet. I had a very positive change, and I hope this project can inspire
                others to change their lifestyles and adopt healthier eating habits while incorporating regular
                exercise.</p>
        </div>

        <div class="project">
            <a href="/public/images/project3.png" target="_blank">
                <img src="/public/images/project3.png" alt="Project 3: Simulate page">
            </a>
            <h2>Project 3: Realtor page</h2>
            <p>Web Interface Design<br><br>
                This was my most recent project in Web Interface Design. I remember that I had just arrived in Canada,
                and
                finding rental property had been quite challenging. Our professor assigned us to create a webpage using
                an
                existing reference. Immediately, I thought of the Realtor who had been helping me find a property, who
                works
                for Royal LePage and is named Juan Carlos Robayo. He is an incredibly helpful person who provided me
                with a
                lot of guidance and assistance. I highly recommend him without reservation.
            </p>
        </div>
    </div>
    <footer>
        <p>© Copyright Amell Ortiz - 301274861 - COMP229_Fall 23</p>
    </footer>
</body>

</html>