/*
File Name:  style.css
Author:     Amell Ortiz
Date:       10-07-2023
Student ID: 301274861
*/

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 10;
  padding: 0;
}

.container {
  max-width: 975px;
  margin: 0 auto;
  padding: 17px;
}

h1 {
  color: #1363a9;
  text-align: center;
  font-size: 26px;
}

h2 {
  color: #1363a9;
  font-size: 20px;
}

p {
  color: #080808;
  font-size: 18px;
}

nav {
  background-color: #0ec1ea;
  padding: 8px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #040404;
  text-decoration: none;
  padding: 9px;
  font-size: 22px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff4800;
  transform: scale(1.1);
}

.mission-statement {
  font-size: 20px;
  text-align: center;
  margin-bottom: 22px;
}

.home-button {
  display: block;
  width: 189px;
  margin: 0 auto;
  text-align: center;
  background-color: #1363a9;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #1363a9;
  transform: translateY(-5px);
}

.about-image {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-paragraph {
  text-align: center;
  font-size: 20px;
}

.project {
  margin-bottom: 20px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 21px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.project img:hover {
  transform: scale(1.1);
}

.service {
  margin-bottom: 20px;
  text-align: left;
  background-color: #f9f9f9;
  padding: 21px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.service:hover {
  transform: translateY(-5px);
}

.service img {
  display: block;
  margin: 0 auto;
  max-width: 301px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.contact-info {
  text-align: center;
  margin-bottom: 21px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 11px;
}

label {
  font-weight: bold;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 11px;
  font-size: 19px;
}

input[type="submit"] {
  background-color: #1363a9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #1363a9;
  transform: translateY(-5px);
}

footer {
  background-color: #0ec1ea;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  margin-top: 18px;
}